$gold: #A08600;
$faded-gold: #7b6c24;
//$dark-gold: #2b2508;
$dark-gold: #6d6758;
$background: black;
$bright-gold: #d9bb26;

.lead {
	color: $bright-gold;
}

.padded-icon {
	padding-right: 5px;
}

a.btn-primary {
	background-color: $gold;
	border-color: $gold;
	color: $background;
	&:hover {
		border-color: $bright-gold;
		background-color: $bright-gold;
		color: white;
	}
	&.disabled {
		border-color: $dark-gold;
		background-color: $dark-gold;
		color: white;
	}
}
a.btn-secondary {
	background-color: $background;
	border-color: $gold;
	color: $gold;
	&:hover {
		border-color: $gold;
		background-color: $dark-gold;
		color: $bright-gold;
	}
	&.disabled {
		border-color: $dark-gold;
		background-color: black;
		color: $dark-gold;
	}
}

body {
	background-color: $background;
	color: $gold;
}

hr {
	border-top-color: #aaa;
}

.jumbotron {
	background-color: $background;
}

.bg-primary {
	color: $background;
}

#topNav {
	background-color: $background;
}

.btn {
	letter-spacing: 1px;
}

.text-muted {
	color: #444444 !important;
}

.post {
	min-height: 775px;
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes brightenfadein {
	from {opacity: .25;}
	to {opacity: 1;}
}


.post-image {
	background: transparent url("/images/posts/loading.gif") no-repeat scroll center center;
	animation-name: fadein;
	animation-duration: .25s;
	width:100%;
}

.jumbotron {
	animation-name: fadein;
	animation-duration: .25s;
}

.post-loading {
	margin-top: 50%;
	margin-left: 37%;
	width: 25%;

	background: transparent url("/images/posts/loading.gif") no-repeat scroll center center;
}

.post-title {
	margin-top: 50px;
	margin-bottom: 25px;
	min-height: 100px;
}

.footer-text {
	margin-top: 25px
}

.faded-arrow {
	opacity: .25;
}

.no-arrow {
	opacity: 0;
}

#random-right-pane:hover + #random-right-arrow {
	opacity: 1;
}

#random-left-pane:hover + #random-left-arrow {
	opacity: 1;
}
