$gold: #A08600;
$faded-gold: #7b6c24;
//$dark-gold: #2b2508;
$dark-gold: #6d6758;
$background: black;
$darkest-gold: #020200;
$bright-gold: #d9bb26;

.lead {
	color: $bright-gold;
}

.padded-icon {
	padding-right: 5px;
}

.btn-primary {
	background-color: $gold;
	border-color: $gold;
	color: $background;
	&:hover {
		border-color: $bright-gold;
		background-color: $bright-gold;
		color: white;
	}
	&.disabled {
		border-color: $dark-gold;
		background-color: $dark-gold;
		color: white;
	}
}
.btn-secondary {
	background-color: $background;
	border-color: $gold;
	color: $gold;
	&:hover {
		border-color: $gold;
		background-color: #0C0A00;
		color: $bright-gold;
	}
	&.disabled {
		border-color: $dark-gold;
		background-color: black;
		color: $dark-gold;
	}
}

body {
	background-color: $background;
	color: $gold;
}

hr {
	border-top-color: #aaa;
}

nav#topNav { 
	background-color: $darkest-gold;
	border-width: 0px 0px 1px 0px;
	border-color: $gold;
	border-style: solid;
}

.content-background {
	background-color: $darkest-gold;
	border-color: $gold;
	border-style: solid;
	border-width: 1px;
	border-radius:4px;
}

.bg-primary {
	color: $background;
}

#topNav {
	background-color: $background;
}

.btn {
	letter-spacing: 1px;
}

.text-muted {
	color: #444444 !important;
}

.post {
	min-height: 775px;
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes brightenfadein {
	from {opacity: .25;}
	to {opacity: 1;}
}


.post-image {
	background: transparent url("/images/posts/loading.gif") no-repeat scroll center center;
	animation-name: fadein;
	animation-duration: .25s;
	width:100%;
}

.jumbotron {
	animation-name: fadein;
	animation-duration: .25s;
}

.post-loading {
	margin-top: 50%;
	margin-left: 37%;
	width: 25%;

	background: transparent url("/images/posts/loading.gif") no-repeat scroll center center;
}

.post-title {
	margin-top: 50px;
	margin-bottom: 25px;
	min-height: 100px;
}

.post-container {
	position: relative;
}

.footer-text {
	margin-top: 25px
}

.faded-arrow {
	opacity: .25;
}

.no-arrow {
	opacity: 0;
}

.random-pane {
	position: absolute;
	top: 0px;
	height: 100%;
}

#random-left-pane {
	@extend .random-pane;
	left: 0px;
	width: 33%;
}

#random-right-pane {
	@extend .random-pane;
	right: 0px;
	width: 66%;
}


#random-right-pane:hover + #random-right-arrow,
#random-left-pane:hover + #random-left-arrow,
.faded-arrow:hover {
	opacity: 1;
}

.required:after {
	content: "*";
	color: #FF0000;
}

.control-label {
	font-weight: bold;
}

.image-upload-area {
	min-height:300px;
}

.image-upload-button {
	border-style: dashed;
	border-color: $gold;
	border-radius: 2px;
	font-size: 40px;
	height: 300px;

	animation-name: fadein;
	animation-duration: .25s;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.uploaded-image {
	animation-name: fadein;
	animation-duration: .25s;
	width: 100%
}
